<?xml version="1.0" encoding="GBK" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">  
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">    
  	<!-- 输出日志到控制台  ConsoleAppender --> 
    
	<appender name="db" class="org.apache.log4j.jdbc.JDBCAppender">
        <param name="URL" value="jdbc:mysql://127.0.0.1:3306/resource"/>
        <param name="Driver" value="com.mysql.jdbc.Driver"/>
        <param name="User" value="root"/>
        <param name="Password" value="qjqzypj"/>
       <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="INSERT INTO log(userName,operTime,fieldName,fieldOriValue,fieldUpdValue,operType,objType,logType,objName,objId) values ('%X{userName}','%-d{yyyy-MM-dd HH\:mm\:ss}','%X{fieldName}','%X{fieldOriValue}','%X{fieldUpdValue}','%X{operType}','%X{objType}','%X{logType}','%X{objName}','%X{objId}') " />
		</layout>
    </appender>
	
	<!-- 
	    定义全局的日志输出级别,但是在输出目的地的配置中配置的具体输出级别优先级高于全局定义的优先级。
	    如果在railyFile中定义<param name="Threshold" value="info"></param>，那么将会把info以上级别的信息输出
	 -->
 	<root>     
		<priority value="error" />     
		
        <appender-ref ref="db" />  
 	</root>    	

</log4j:configuration> 