.tableTitle,.chartTitle{ height: 40px; line-height:40px; width:50%; text-align:left; padding-left:20px;  margin-left:20px;
    margin-top:20px; background-color:#BED9EF;font-size:18px;  -webkit-border-radius:5px;
    -moz-border-radius:5px;  border-radius:5px; }